[user]
  name = i2bskn
  email = i2bskn@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore.global
  autocrlf = input

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[merge]
  ff = false
  tool = vimdiff

[mergetool]
  prompt = false

[push]
  default = upstream

[fetch]
  prune = true

[pull]
  rebase = true

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green

[color "status"]
  added = green
  changed = yellow
  untracked = cyan

[alias]
  st = status -sb
  cl = clone
  clr = clone --recursive
  gr = grep -n

  # fetch (with prune) / pull / push
  fo = fetch origin
  fm = pull # with rebase
  p = push
  pt = push --tags

  # branch
  br = branch -vv
  ba = branch -a

  # checkout
  co = checkout
  co0 = checkout HEAD --
  cb = checkout -b

  # merge / rebase
  m = merge
  r = rebase
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase -i
  cp = cherry-pick

  # commit
  a = add
  aa = add --all
  ci = commit -a
  ca = commit -a --amend

  # diff
  d = diff
  dh = diff HEAD
  ds = diff --cached # staged changes

  # log
  lg = log --pretty=oneline --abbrev-commit --graph --decorate
  ls = log --stat
  lp = log -p
  lm = log --merges
  rl = reflog

[ghq]
  root = ~/ghq
  root = ~/go/src

[include]
  path = ~/.gitconfig.local

[init]
  templatedir = ~/.git_template
