[client]
port = 3306
socket = /tmp/mysql.sock
default-character-set = utf8

[mysql]
show-warnings

[mysqld]
# Server
server-id = 1
datadir = /usr/local/var/mysql
port = 3306
socket = /tmp/mysql.sock

character-set-server = utf8
collation-server = utf8_general_ci
default-storage-engine = InnoDB

max_connections = 16
max_allowed_packet = 1M
table_open_cache = 128
table_definition_cache = 512
open_files_limit = 5000

# Global buffer
innodb_buffer_pool_size = 256M
key_buffer_size = 16M
query_cache_type = 0
query_cache_size = 0

# Thread buffer
sort_buffer_size = 512K
read_rnd_buffer_size = 512K
join_buffer_size = 256K
read_buffer_size = 256K

# InnoDB
innodb_file_per_table
innodb_additional_mem_pool_size = 16M
innodb_autoextend_increment = 64
innodb_log_buffer_size = 8M
innodb_log_file_size = 128M
innodb_log_files_in_group = 2

# Log
log-bin = mysql-bin
binlog_format = mixed
max_binlog_size = 128M
expire_logs_days = 7
sync_binlog = 1
general_log = 0
#general_log_file = /tmp/query.log
slow_query_log = 1
#slow_query_log_file = /tmp/slow_query.log
long_query_time = 1
log_queries_not_using_indexes
log_output = TABLE

[mysqldump]
quick
set-charset
single-transaction
max_allowed_packet = 16M
