[client]
port = 3306
socket = /tmp/mysql.sock

[mysql]
show-warnings
prompt = '\\u@\\h [\\d] > '
default-character-set = utf8

[mysqld]
# Server
datadir = /usr/local/var/mysql
port = 3306
socket = /tmp/mysql.sock
log_timestamps = SYSTEM

character-set-server = utf8
collation-server = utf8_general_ci
lower_case_table_names = 1
skip_name_resolve
default-storage-engine = InnoDB
transaction_isolation = READ-COMMITTED

max_connections = 64
max_allowed_packet = 16M
table_open_cache = 128
table_definition_cache = 512
open_files_limit = 5000

symbolic-links = 0
default_password_lifetime = 0
sql_mode = TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY

# Global buffer
key_buffer_size = 16M
query_cache_type = 0
query_cache_size = 0

# Thread buffer
sort_buffer_size = 512K
read_rnd_buffer_size = 512K
join_buffer_size = 256K
read_buffer_size = 256K

# InnoDB
innodb_file_per_table
innodb_file_format = Barracuda
innodb_data_file_path = ibdata1:10M:autoextend
innodb_autoextend_increment = 64
innodb_buffer_pool_size = 512M
innodb_log_buffer_size = 8M
innodb_log_file_size = 128M
innodb_log_files_in_group = 2
innodb_flush_method = O_DIRECT

# Log
server-id = 1
log-bin = mysql-bin
binlog_format = mixed
max_binlog_size = 128M
expire_logs_days = 7
sync_binlog = 1

log_output = TABLE
general_log = 1
#general_log_file = /tmp/query.log
slow_query_log = 1
#slow_query_log_file = /tmp/slow_query.log
long_query_time = 0.1
log_queries_not_using_indexes

[mysqldump]
quick
set-charset
single-transaction
max_allowed_packet = 16M
